.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}

.light_btn{
    background-color: white;
    color: black;
}

.dark_btn{
    background-color: black;
    color: white;
    border-color: white;
}