/*.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}

.light_btn{
    background-color: white;
    color: black;
}

.dark_btn{
    background-color: black;
    color: white;
    border-color: white;
}

.input_l{
    width: 200px;
    height: 20px;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 7px;
    margin-bottom: 10px;
}

.input_b{
    width: 200px;
    height: 20px;background-color: black;
    color: white;
    border-color: white;
    border-radius: 7px;
    margin-bottom: 10px;
}

.form_div{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#output{
    color: red;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#autput{
    color: green;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}*/

/*hesap makinesi*/

/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252525;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 320px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 32px;
    text-align: right;
    padding: 3px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #444;
}

.operator {
    background-color: #f3ac4b;
    color: #000;
}

.operator:hover {
    background-color: #f3c685;
}

#equals {
    background-color: #2ecc71;
    color: #000;
}

#equals:hover {
    background-color: #3edc81;
}

#clear,
#delete {
    background-color: #ff5858;
    color: #000;
}

#clear:hover,
#delete:hover {
    background-color: #ff7777;
}*/

/*==================== Mesajlaşma Projesi ================================== */

/*#messages {
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto;
    transition: height 0.3s ease;
}

#messages.expanded {
    height: 500px;
}

.input-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


body {
    font-family: Arial, sans-serif;
}

.message {
    max-width: 70%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.sent {
    background-color: #4CAF50;
    align-self: flex-end;
}

.received {
    background-color: #555;
    align-self: flex-start;
}

.message p {
    margin: 0;
}

.message-time {
    font-size: 12px;
    color: #ddd;
}

.message-input {
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    max-width: 70%;
    padding: 10px;
    text-align: center;
    color: #999;
}

.message-input::placeholder {
    color: #999;
    opacity: 0.7;
}
.send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #075e54;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.send-button:hover {
    background-color: #064c3d;
}*/

/* Saniye Ile Çalışma */

/* ================== Tıklama Oyunu ========================== */
